#binaries from programs and plugins
*.exit
*.exe~
*.dll
*.so
*.dylib
.idea

# Test binary, build with 'go tes -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
# vendor/

# Mac OS X files
.DS_Store
